<div id="page-title-pro">
		<div class="container">
			<div class="row">
				<h1>Questions? Look here.</h1>
				<h6>Can’t find an answer? Call us at (855) 123-4567 or email
					<a href="mailto:help@yourwebsite.com">help@skrn.com</a>
				</h6>
			</div>
			<!-- close .row -->
		</div>
		<!-- close .container -->
	</div>
	<!-- close #page-title-pro -->

	<div id="content-pro">
		<div class="container">

			<div class="row">
				<div class="col-md">

					<div class="jumbotron jumbotron-fluid jumbotron-pro">
						<div class="container">
							<span class="icon-User"></span>
							<h6 class="light-weight-heading">Subscriber</h6>
						</div>
					</div>
					<!-- close .jumbotron -->

				</div>
				<!-- close .col-md -->
				<div class="col-md">

					<div class="jumbotron jumbotron-fluid jumbotron-pro">
						<div class="container">
							<span class="icon-TV"></span>
							<h6 class="light-weight-heading">Guest</h6>
						</div>
					</div>
					<!-- close .jumbotron -->

				</div>
				<!-- close .col-md -->
			</div>
			<!-- close .row -->


			<div class="row">
				<div class="col-md">
					<h6 class="light-weight-heading">What is SKRN?</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur molestie lectus at erat venenatis scelerisque. Integer
						viverra at tortor nec interdum integer vulputate venen neque vel gravida. Maecenas posuere magna lorem, non ultrices
						tortor bibendum non. Curabitur ut ante ante.</p>
					<hr>
					<h6 class="light-weight-heading">Membership</h6>
					<p>Vestibulum id pretium odio. Phasellus at nisi sit amet lectus interdum maximus eu vel augue. Proin sodales gravida tempor
						vivamus ut lorem arcu sed ac fermentum odio.</p>
					<hr>
					<h6 class="light-weight-heading">Streaming Devices</h6>
					<p>Sed sit amet faucibus quam. Maecenas congue cursus iaculis. Vivamus congue, nibh et mollis ullamcorper, quam libero
						porta ante, eget fermentum est est ac nisl. Praesent bibendum tellus feugiat efficitur porttitor.</p>
				</div>
				<!-- close .col-md -->


				<div class="col-md">
					<h6 class="light-weight-heading">Free Trial</h6>
					<p>Maecenas posuere magna lorem, non ultrices tortor bibendum non. Curabitur ut ante ante. Phasellus vitae dolor condimentum,
						accumsan urna at</p>
					<hr>
					<h6 class="light-weight-heading">TV Shows &amp; Movies</h6>
					<p>Aenean nec nulla congue, sodales nunc non, accumsan elit. Proin porttitor pretium suscipit. Quisque venenatis nibh lorem.
						Vivamus sit amet diam lectus. Mauris imperd nibh in urna ultricies vehicula. Suspendisse eget malesuada ante. Suspendisse
						ultricies dictum vehicula.</p>
					<hr>
					<h6 class="light-weight-heading">Get Started</h6>
					<p>Praesent vitae leo id lorem vulputate facilisis nec ac ante. Pellentesque augue vestibulum quis luctus vel, facilisis
						vitae lacus. Nulla sit amet arcu a leo elementum placerat. Integer vestibulum auctor pellentesque.</p>
				</div>
				<!-- close .col-md -->
			</div>
			<!-- close .row -->


			<div class="clearfix"></div>
		</div>
		<!-- close .container -->


	</div>
	<!-- close #content-pro -->